*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080710;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}

form {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.btn-comando {
  width: 120px;  /* Cambiato per renderlo più largo */
  height: 50px;  /* Cambiato per rendere il pulsante più rettangolare */
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px; /* Bordo rettangolare con angoli smussati */
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.btn-comando:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-comando:active {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Disposizione a croce dei pulsanti */
.row:first-child {
  margin-bottom: 20px;
}

.row:nth-child(2) {
  margin-bottom: 20px;
}

form .center-btn {
  width: 120px;  /* Cambiato per mantenere la coerenza con i pulsanti */
  height: 50px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.create-account {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  background-color: #ffffff;
  color: #080710;
  font-size: 16px;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.create-account:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
