<!DOCTYPE html>
<html lang="en">

<head>
  <title>control</title>

  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <form action="{{ url_for('logout') }}" method="get">
    <h3>Benvenuto nell'area comandi!</h3>
    <button type="submit">Logout</button>
  </form>

  
  <form action="/control" method="POST">
    <div class="row">
        <input type="submit" value="AVANTI" name="AVANTI" class="btn-comando">
    </div>
    <div class="row">
        <input type="submit" value="SINISTRA" name="SINISTRA" class="btn-comando">
        <input type="submit" value="DESTRA" name="DESTRA" class="btn-comando">
    </div>
    <div class="row">
        <input type="submit" value="INDIETRO" name="INDIETRO" class="btn-comando">
    </div>
    <div class="row">
        <input type="submit" value="FERMO" name="FERMO" class="btn-comando">
    </div>
  </form>

</body>

</html>
